html{
    background-color: antiquewhite;
    width: 100%;

}
head{
    background-color: black;

}
body{

    text-align: center;
    background-color: whitesmoke;
    border: 20px solid black;
    

}

footer{
    background-color: azure;

        
}

a {
    padding: 21px;
    text-decoration-line: none;
    text-decoration: overline;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


img {
    float: right
        ;
}








