html{
    background-color: antiquewhite;
    width: 100%;

}
head{
    background-color: black;

}
body{

    text-align: center;
    background-color: whitesmoke;
    border: 20px solid black;
    

}

footer{
    background-color: azure;

        
}

a {
    padding: 21px;
    text-decoration-line: none;
    text-decoration: overline;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


img {
    float: right
        ;
}

* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}
.rightside {
  flex: 25%; /* Set the width of the main content */
  background-color: red; /* White background color */
  padding: 0px; /* Some padding */
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.leftside {
  flex: 25%; /* Set the width of the sidebar */
  background-color: #f13123; /* Grey background color */
  padding: 0px; /* Some padding */
}

/* Main column */
.center {
  flex: 50%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 0px; /* Some padding */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
